<div class="axcora_perl_container">
    <div class="axcora_perl_grid axcora_perl_1grid">
        <article class="p-5">
            [if:image]
            <img src="{{image}}" class="axcora_perl_img_responsive" style="margin-bottom: 30px;" alt="{{title}}">
            [/if]
            <h1 class="axcora_perl_text_primary" style="font-size: 3rem; margin-bottom: 20px;">{{title}}</h1>
            <div class="axcora_perl_typography">
                {{content}}
            </div>
        </article>
    </div>
</div>