   <footer style="background: var(--axcora-dark); color: white; padding: 60px 0; margin-top: 50px;">
    <div class="axcora_perl_container">
        <div class="axcora_perl_grid axcora_perl_3grid">
            <div>
                [if:footer_logo]<img src="{{footer_logo}}" class="axcora_perl_img_responsive" 
                width="80"
                height="80"
                alt="{{footer_title}}" style="margin-bottom:15px;">[/if]
                <h3 class="axcora_perl_text_primary">{{footer_title}}</h3>
                <p>{{footer_text}}</p>
            </div>
            <div>
                <h3>{{menu1_title}}</h3>
                <ul style="list-style:none; padding:0;">{{menu1_links}}</ul>
            </div>
            <div>
                <h3>{{menu2_title}}</h3>
                <ul style="list-style:none; padding:0;">{{menu2_links}}</ul>
            </div>
        </div>
        <hr style="border:0; border-top:1px solid #333; margin:40px 0;">
        <div style="text-align:center; font-size:0.9rem;">{{copyrights}}
		<p><small>Built with <a href="https://onta.axcora.com" style="color:white;">Onta SSG</a></div>
    </div>
</footer>